.icon {
  text-indent: -99999px;
  border: 0;

  &_social {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 5px;
  }

  &_social_large {
    width: 50px;
    height: 50px;
  }

  &_vk {
    background-image: url('/images/vk.svg');
  }

  &_instagram {
    background-image: url('/images/instagram.svg');
  }
}
