.row.department
  .large-4.columns
    .department__item
      .department__image(style="background-image: url(/images/departments/1.png)")
      .department__body
        .department__title Поликлиника
        .department__address
          img.department__icon(src="/images/map.svg")
          | Муштари, 12А
  .large-4.columns
    .department__item
      .department__image(style="background-image: url(/images/departments/2.png)")
      .department__body
        .department__title Поликлиника
        .department__address
          img.department__icon(src="/images/map.svg")
          | Сибгата Хакима, 52
  .large-4.columns
    .department__item
      .department__image(style="background-image: url(/images/departments/3.png)")
      .department__body
        .department__title Поликлиника
        .department__address
          img.department__icon(src="/images/map.svg")
          | Сибгата Хакима, 50
