mixin stocks-item(index)
  .stocks__item
    .stocks__image-container
      img.stocks__image(src=`/images/stocks/${index}.png`, alt='Успейте защитить себя от гриппа')
    .stocks__title Успейте защитить себя от гриппа
    .stocks__desc Предварительный осмотр и вакцинация 500 р.
    a.stocks__more Подробнее
