extends base

block content
  section.section.section_white.section_inner
    .row
      .column
        .breadcrumbs
          li
            a(href="/") Главная
          li О клинике
    .row
      .column
        h1 О клинике
        p Равным образом дальнейшее развитие различных форм деятельности требуют определения и уточнения систем массового участия. Таким образом сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития. С другой стороны дальнейшее развитие различных форм деятельности играет важную роль в формировании дальнейших направлений развития.
        p Равным образом дальнейшее развитие различных форм деятельности способствует подготовки и реализации форм развития. Задача организации, в особенности же укрепление и развитие структуры требуют от нас анализа дальнейших направлений развития. Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и реализации модели развития. Равным образом новая модель организационной деятельности играет важную роль в формировании систем массового участия. Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.
        p Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также новая модель организационной деятельности требуют определения и уточнения дальнейших направлений развития. Равным образом реализация намеченных плановых заданий в значительной степени обуславливает создание соответствующий условий активизации. Не следует, однако забывать, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития. Товарищи! сложившаяся структура организации способствует подготовки и реализации существенных финансовых и административных условий. Задача организации, в особенности же укрепление и развитие структуры требуют от нас анализа направлений прогрессивного развития.
        h1.page__inner-title Медицинские центры «Медэксперт»
        p Программы годового медицинского обслуживания для детей разработаны в соответствии с возрастными потребностями и особенностями развития ребенка, а так же нормативными актами и стандартами оказания медицинской помощи, утвержденными Министерством Здравоохранения РФ
        include partials/department
    .partner(style="background-image: url(/images/partner.jpg)")
      .row
        .column
          h1.partner__title Наша организация-партнер
          a.partner__site(href="https://doctordr.ru") doctordr.ru
    include partials/news-item
    .row
      .column
        h1 СМИ о нас
    .row
      each val in [1,2,3,4]
        .medium-6.large-3.columns
          +news-item(val)

  include partials/appointment
