link(rel="stylesheet", href="styles/fonts.css")
link(rel="stylesheet", href="/vendors/slick-carousel/slick/slick.css")
script(src="/vendors/jquery/dist/jquery.min.js")
script(src="/vendors/foundation-sites/dist/js/foundation.min.js")
script(src="/vendors/slick-carousel/slick/slick.min.js")
script(src="/vendors/fontfaceobserver/fontfaceobserver.js")
script(src="scripts/app.js")
